chess==1.9.3
gym==0.22
jsonschema==4.16.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
mcts==1.0.4
numpy
pandas==1.1.4
pymoo==0.6.0
python-chess==0.27.3
scipy==1.4.1
seaborn==0.12.0
stable-baselines3==1.6.0
stockfish==3.28.0
tensorflow==1.14.0
torch==1.12.1
tqdm==4.64.1

